{% extends "main.html" %} {% block title %} Daniel Pool{% endblock %} {% block content %}
<article>
    <br/>
    <div class="container">
    <form name="bookAppointment" id="bookAppointment" method="post" action="">
        <h4 class="text-warning">Appointment form</h4>
        <br>
        {% if messages.field_missing != "" %}
        <p style="color: gold;">{{ messages.field_missing }}</p>
        {% endif %} {% if messages.appointment_unique != "" %}
        <p style="color: gold;">{{messages.appointment_unique }}</p>
        {% endif %}
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="FirstName">First Name</label>
                </br>
                {% if messages.first_name != "" %}
                <p style="color: gold;">{{ messages.first_name }}</p>
                {% endif %}
                <input type="text" name="first_name" class="form-control" id="FirstName" value="{{ first_name }}" readonly>
            </div>
            <div class="form-group col-lg-6">
                <label for="LastName">Last Name</label>
                </br>
                {% if messages.last_name != "" %}
                <p style="color: gold;">{{ messages.last_name }}</p>
                {% endif %}
                <input type="text" name="last_name" class="form-control" id="LastName" value="{{ last_name }}" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="dateBirth">Date of Birth</label>
                </br>
                {% if messages.date_birth != "" %}
                <p style="color: gold;">{{ messages.date_birth }}</p>
                {% endif %}
                {% if messages.under_age != "" %}
                <p style="color: gold;">{{ messages.under_age }}</p>
                {% endif %}
                <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                    <input type="text" id="dateBirth" name="date_birth" value="{{ birth_date }}" class="form-control datetimepicker-input" data-target="#datetimepicker"
                    readonly/>
                    <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                        <div class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label for="Procedure">Procedure</label>
                </br>
                {% if messages.procedure != "" %}
                <p style="color: gold;">{{ messages.procedure }}</p>
                {% endif %}
                <select class="custom-select" id="Procedure" name="procedure">
                    <option value="">---</option>
                    {% for row in procedures %}
                    <option value="{{ row.ID }}">{{ row.ProcedureName }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-4">
                <label for="AppointmentDate">Appointment Date</label>
                </br>
                {% if messages.appointment_date != "" %}
                <p style="color: gold;">{{ messages.appointment_date }}</p>
                {% endif %}
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" id="AppointmentDate" name="appointment_date" value="{{ appointment_date }}" class="form-control datetimepicker-input"
                        data-target="#datetimepicker1" readonly/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label for="AppointmentTime">Appointment Time</label>
                </br>
                {% if messages.appointment_time != "" %}
                <p style="color: gold;">{{ messages.appointment_time }}</p>
                {% endif %}
                <input type="text" name="appointment_time" class="form-control" id="AppointmentTime" value="{{ time }}" readonly>
            </div>
            <div class="form-group col-lg-4">
                <label for="TattoArtist">Tattoo Artist</label>
                </br>
                {% if messages.tattoo_artist != "" %}
                <p style="color: gold;">{{ messages.tattoo_artist }}</p>
                {% endif %}
                <select class="custom-select" id="TattoArtist" name="tattoo_artist">
                    <option value="">---</option>
                    {% for row in artists %} {% set firstname = row.FirstName %} {% set lastname = row.LastName %}
                    <option value="{{ row.ID }}">{{ firstname ~ " " ~ lastname }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="Email">Email</label>
                </br>
                {% if messages.email != "" %}
                <p style="color: gold;">{{ messages.email }}</p>
                {% endif %}
                <input type="email" name="email" class="form-control" id="Email" value="{{ email }}" readonly>
            </div>
            <div class="form-group col-lg-6">
                <label for="Phone">Phone</label>
                </br>
                {% if messages.phone != "" %}
                <p style="color: gold;">{{ messages.phone }}</p>
                {% endif %}
                <input type="text" name="phone" class="form-control" id="Phone" value="{{ phone }}" readonly>
            </div>
        </div>
            {% if messages.refuse != "" %}
            <p style="color: gold;">{{ messages.refuse }}</p>
            {% endif %}
            {% if messages.parent_missing != "" %}
            <p style="color: gold;">{{ messages.parent_missing }}</p>
            {% endif %}
            {% if under_age %}
            <div class="form-row">
                <div class="form-group col-lg-4">
                    <label for="ParentName">Parent Name</label>
                    <input type="text" name="parent_name" class="form-control" id="ParentName" value="{{ parent_name }}">
                </div>
                <div class="form-group col-lg-4">
                    <label for="ParentPhone">Phone</label>
                    <input type="text" name="parent_phone" class="form-control" id="ParentPhone" value="{{ parent_phone }}">
                </div>
                <div class="form-group col-lg-4">
                    <label for="ParentEmail">Email</label>
                    <input type="text" name="parent_email" class="form-control" id="ParentEmail" value="{{ parent_email }}">
                </div>
            </div>
            {% endif %}
            <br>
            <div class="form-row text-center lastRow">
                <div class="form-group col-lg-12">
                    <button type="submit" id="submitbtn" class="btn btn-lg bg-warning text-center">Book</button>
                    <button type="reset" class="btn btn-lg bg-warning text-center">Reset</button>
                </div>
            </div>
            <br><br><br>
    </form>
</div>
</article>

{% endblock %}